:root {
    --primary-color: #3563E9;
    --secondary-color: #90A3BF;
    --info-color: #54A6FF;
    --white-color: #fff;
    --black-color: #000;
    --background-color: rgba(246, 247, 249, 1);
    --text-dark: #1A202C;
}

body {}

.container {
    max-width: 1312px;
    margin-inline: auto;
    width: 90%;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 40px;

    .logo-search-wrapper {
        display: flex;
        gap: 84px;
        align-items: center;
    }

    .search {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;
        width: 492px;
        outline: 1px solid #c3d4e97c;
        border-radius: 70px;

        img {
            cursor: pointer;
        }

        input {
            border: none;
            flex-grow: 1;

            &:focus {
                outline: none;
            }
        }
    }

    .cta-wrapper {
        display: flex;
        gap: 20px;
        align-items: center;
    }

}

main {
    background-color: var(--background-color);

}

section.ads {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    article {
        position: relative;
        padding: 24px;
        border-radius: 10px;
        color: var(--white-color);
        width: 640px;
        height: 360px;
        overflow: hidden;

        &:hover {
            img {
                animation: moveRight 1.5s ease-in-out forwards;
            }
        }

        h2,
        p {
            position: relative;
            max-width: 284px;
            line-height: 150%;
            z-index: 2;
        }

        h2 {
            font-size: 32px;
            text-transform: capitalize;
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 20px;
        }

        button {
            position: relative;
            color: var(--white-color);
            padding: 10px 20px;
            line-height: 150%;
            text-transform: capitalize;
            border-radius: 4px;
            transition: all 0.3s ease;
            z-index: 2;

            &:hover {
                animation: shake .3s;
                animation-iteration-count: infinite;
            }
        }
    }

    article:first-of-type {
        background: repeating-radial-gradient(circle at 35% calc(100% - 60px), rgba(255, 255, 255, 0.08) 0px, rgba(255, 255, 255, 0.08) 20px, transparent 2px, transparent 60px), #5da2e8;

        button {
            background-color: var(--primary-color);
        }

        &::after {
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
            content: '';
            width: 0;
            height: 0;
            border-left: 75px solid transparent;
            border-right: 125px solid #5da2e8;
            border-bottom: 220px solid transparent;
            background: none;
        }
    }

    article:last-of-type {
        position: relative;
        --width: 640px;
        --height: 360px;
        width: var(--width);
        height: var(--height);
        background-color: #3563E9;
        background-image: url(../images/icons/rectangle.svg);
        background-size: 90px 120px;
        background-position-x: -25px;

        &::after {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            content: "";
            background-color: inherit;
            background-image: inherit;
            background-size: inherit;
            background-position-x: 20px;
            width: inherit;
            height: calc(var(--height) / 3);
            display: inline-block;
            z-index: 1;
        }

        button {
            background-color: var(--info-color);
        }
    }

    img {
        position: absolute;
        left: 55%;
        bottom: 10px;
        transform: translateX(-50%);
    }
}


section.pickup-dropoff-filter {
    padding-block: 0;

    form {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .filters-wrapper {
            background-color: var(--white-color);
            padding: 24px;
            border-radius: 10px;

            label {
                font-size: 1rem;
                line-height: 150%;
                color: var(--text-dark);
            }

            .header {
                margin-bottom: 1rem;
                display: flex;
                align-items: center;
                gap: 8px;

                &>label {
                    text-transform: capitalize;
                }

            }

            .body {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 48px;

                .filter {
                    &>label {
                        display: block;
                        text-transform: capitalize;
                        font-weight: bold;
                        margin-bottom: 8px;
                    }

                    select {
                        border: none;
                    }
                }
            }
        }

        button {
            background-color: var(--primary-color);
            padding: 18px;
            border-radius: 10px;
            border: none;
            box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.1);
            cursor: pointer;

            img {
                display: block;
            }
        }
    }

}

section {
    padding-block: 2rem;

    &:not(:last-of-type) {
        margin-bottom: 2rem;
    }

    &>.header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        h2 {
            color: var(--secondary-color);
            text-transform: capitalize;
            font-size: 1rem;
        }

        a {
            color: var(--primary-color);
            text-transform: capitalize;
        }
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem;


        .card {
            width: 304px;
            padding: 24px;
            background-color: var(--white-color);
            border-radius: 10px;



            .header {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                div {
                    h3 {
                        color: var(--text-dark);
                        font-size: 20px;
                    }

                    p {
                        color: var(--secondary-color);
                        font-size: 14px;
                    }
                }

            }

            .image {
                display: flex;
                justify-content: center;
                padding-block: 64px;
            }

            .spesifications {
                display: flex;
                gap: 1rem;

                &>div {
                    display: flex;
                    gap: 6px;
                    align-items: center;

                    span {
                        color: var(--secondary-color);
                        font-size: 14px;
                        font-weight: 500;
                        letter-spacing: 1px;
                        line-height: 150%;
                    }
                }

            }

            .footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 34px;

                .price-wrapper {
                    display: flex;

                    span {
                        display: block;
                        font-size: 20px;
                        font-weight: bold;
                        color: var(--text-dark);

                        &:last-child {
                            color: var(--secondary-color);
                            font-size: 14px;
                            align-self: flex-end;
                        }
                    }
                }

                .rent-now {
                    a {
                        display: block;
                        padding: 10px 20px;
                        background-color: var(--primary-color);
                        color: var(--white-color);
                        border-radius: 4px;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            display: block;
            padding: 10px 20px;
            background-color: var(--primary-color);
            color: var(--white-color);
            border-radius: 4px;
            text-decoration: none;
            margin-left: auto;
        }

        .counter-wrapper {
            color: var(--secondary-color);
            font-size: 14px;
            margin-left: auto;
        }

    }

    &[page="filter"] {
        padding-inline: 2rem;
    }
}





aside {

    padding: 2rem;
    background-color: var(--white-color);

    form {
        .filters {
            &:not(:last-child) {
                margin-bottom: 56px;

            }

            h3 {
                margin-bottom: 28px;
                color: var(--secondary-color);
                text-transform: uppercase;
            }


            .wrapper {
                &>div {
                    display: flex;
                    gap: .5rem;
                    align-items: center;

                    &:not(:last-child) {
                        margin-bottom: 2rem;

                    }

                    input {}

                    label {
                        color: #596780;
                        font-size: 20px;
                    }

                    span {}
                }
            }
        }

        .price {
            input {
                width: 296px;
            }
        }
    }
}

/* product-details page */

section.details-page {
    padding: 2rem;


    .details {
        &>div {
            padding: 0;
            gap: 2rem;


            .image-gallery {
                article.preview {
                    --width: 492px;
                    --height: 360px;
                    background-color: #3563E9;
                    background-image: url(../images/icons/rectangle.svg);
                    background-size: 90px 120px;
                    background-position-x: -25px;

                    position: relative;
                    padding: 24px;
                    border-radius: 10px;
                    color: var(--white-color);
                    width: var(--width);
                    height: var(--height);
                    overflow: hidden;

                    &:hover {
                        img {
                            animation: moveRight 1.5s ease-in-out forwards;
                        }
                    }

                    h2,
                    p {
                        position: relative;
                        max-width: 284px;
                        line-height: 150%;
                        z-index: 2;
                    }

                    h2 {
                        font-size: 32px;
                        text-transform: capitalize;
                        margin-bottom: 1rem;
                    }

                    p {
                        margin-bottom: 20px;
                    }


                    &::after {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        right: 0;
                        transform: translateY(-50%);
                        content: "";
                        background-color: inherit;
                        background-image: inherit;
                        background-size: inherit;
                        background-position-x: 20px;
                        width: inherit;
                        height: calc(var(--height) / 3);
                        display: inline-block;
                        z-index: 1;
                    }

                    &>img {
                        position: absolute;
                        left: 55%;
                        bottom: 10px;
                        transform: translateX(-50%);
                        z-index: 2;
                    }
                }
            }

            .thumbnails {
                margin-top: 1.5rem;
                gap: 1.5rem;

                .thumbnail {

                    --width: 148px;
                    --height: 124px;
                    border-radius: 10px;
                    width: var(--width);
                    height: var(--height);
                    cursor: pointer;


                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 10px;
                    }

                    &:first-of-type {
                        position: relative;

                        background-color: #3563E9;
                        background-image: url(../images/icons/rectangle.svg);
                        background-size: 26.5px calc(var(--height)/4);
                        background-position-x: -5px;
                        overflow: hidden;
                        transition-duration: .3s;

                        img {
                            object-fit: contain;
                            position: relative;
                            z-index: 2;
                        }

                        &::before {
                            position: absolute;
                            top: 46px;
                            left: 0;
                            right: 0;
                            transform: translateY(-50%);
                            content: "";
                            background-color: inherit;
                            background-image: inherit;
                            background-size: inherit;
                            background-position-x: 35px;
                            width: inherit;
                            height: calc(var(--height) / 4);
                            display: inline-block;
                            z-index: 1;
                        }

                        &::after {
                            position: absolute;
                            /* top: calc(var(--height)/3); */
                            bottom: -17px;
                            left: 0;
                            right: 0;
                            transform: translateY(-50%);
                            content: "";
                            background-color: inherit;
                            background-image: inherit;
                            background-size: inherit;
                            background-position-x: 8px;
                            width: inherit;
                            height: calc(var(--height) / 4);
                            display: inline-block;
                            z-index: 1;
                        }
                    }

                    &:hover {
                        transform: scale(0.9);
                        box-shadow: 0 0 0 8px white, 0 0 0 11px var(--primary-color);
                    }
                }
            }
            .description {
                padding: 24px;
                background-color: var(--white-color);
                border-radius: 10px;
                max-width: 492px;
        
                .description-header {
        
                    h1 {
                        font-size: 32px;
                        color: var(--text-dark);
                        font-weight: 700;
                        line-height: 150%;
                        letter-spacing: -3%;
                    }
        
                    button.favorite {
                        height: fit-content;
                        background-color: transparent;
                    }
        
                    .rating {
                        margin-top: 10px;
                        gap: 8px;
        
                        .stars-wrapper {
                            gap: 2px;
        
                            .star {}
        
                        }
        
                        .reviewers-count {
                            font-weight: 500;
                            fsont-size: 14px;
                            color: var(--secondary-color);
        
                            span.amount {}
        
                            span {
                                text-transform: capitalize;
                            }
                        }
                    }
                }
        
                p {
                    margin-block: 2rem;
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 200%;
                    letter-spacing: -2%;
                    color: var(--secondary-color);
                    max-height: 120px;
                    overflow-y: auto;
                }
        
                .specifications {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    column-gap: 44px;
                    row-gap: 10px;
                    line-height: 150%;
                    font-size: 20px;
                    letter-spacing: -2%;
                    text-transform: capitalize;
        
                    .property {
                        color: var(--secondary-color);
                    }
        
                    .value {
                        color: var(--text-dark);
                        font-weight: 600;
                    }
        
                }
        
                .description-footer {
                    margin-top: 68px;
        
                    .price {
                        &>div>span {
                            &:first-of-type {
                                font-weight: 700;
                                font-size: 28px;
                                letter-spacing: 0;
                                line-height: 100%;
                            }
        
                            &:last-of-type {
                                font-weight: 700;
                                font-size: 16px;
                                letter-spacing: 0;
                                line-height: 100%;
                                color: var(--secondary-color);
                                align-self: flex-end;
                            }
                        }
        
                        span.old-price {
                            font-weight: 700;
                            font-size: 16px;
                            letter-spacing: 0;
                            line-height: 100%;
                            color: var(--secondary-color);
                            text-decoration: line-through;
                        }
                    }
        
                    button {
                        color: var(--white-color);
                        padding: 10px 20px;
                        line-height: 150%;
                        text-transform: capitalize;
                        border-radius: 4px;
                        background-color: var(--primary-color);
                    }
                }
            }
        }

        section.reviews {
            padding: 24px;
            margin-block: 2rem;
            .reviews-header {
                margin-bottom: 2rem;
                gap: 12px;
                h2 {
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 100%;
                    letter-spacing: -2%;
                    color: var(--text-dark);
                }
                span {
                    padding: 6px 12px;
                    background-color: var(--primary-color);
                    border-radius: 4px;
                    color: var(--white-color);
                    font-size: 14px;
                    font-weight: 700;

                }
            }
            .reviews-wrapper {
               li {
                article {
                    .article-header {
                        .reviewer {
                            img {
                                width: 56px;
                                height: 56px;
                                border-radius: 50%;
                            }
                            div {
                                h3 {

                                }
                                span {

                                }

                            }
                        }
                        .date-rating-wrapper {
                            span {

                            }
                            &>div {

                            }
                        }
                    }

                }
               }
            }
        }

    }
}




footer {
    padding-block: 80px 60px;
    line-height: 150%;
    letter-spacing: -2%;
    font-size: 1rem;

    .footer-inner-wrapper {
        display: flex;
        justify-content: space-between;

        .footer-logo {
            P {
                width: 247px;
                font-weight: 500;
                color: var(--secondary-color);
                margin-top: 16px;

            }
        }

        .footer-nav {
            display: flex;
            gap: 60px;

            .nav-group {

                text-transform: capitalize;

                h4 {
                    margin-bottom: 24px;
                    font-size: 20px;
                    font-weight: 600;
                    color: var(--text-dark);




                }

                ul {
                    li {
                        &:not(:last-of-type) {
                            margin-bottom: 1rem;
                        }

                        a {

                            font-weight: 500;
                            color: var(--secondary-color);

                        }

                    }

                }
            }
        }

        .copy {
            p {
                color: var(--text-dark);
                font-weight: 600;

            }

        }

        .privacy-policy {
            a {
                color: var(--text-dark);
                font-weight: 600;

                &:first-of-type {
                    margin-right: 60px;
                }

            }
        }

        &:first-of-type {
            margin-bottom: 36px;
            border-bottom: 1px solid #13131329;
            padding-bottom: 36px;

        }
    }

}







@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}


@keyframes moveRight {
    from {
        transform: translateX(-50%);
    }


    to {
        transform: translateX(100%);

    }
}